# Configurações do Supabase
# Substitua os valores abaixo pelas chaves do seu projeto no Supabase
# https://supabase.com/dashboard/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=seu_supabase_url_aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_supabase_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_supabase_service_role_key_aqui
